[submodule "Lib/GMGridView"]
	path = Lib/GMGridView
	url = git://github.com/gmoledina/GMGridView.git
[submodule "Lib/DACircularProgres"]
	path = Lib/DACircularProgres
	url = git://github.com/danielamitay/DACircularProgress.git
